i[onlick], .icon,.icon:hover,
a.icon,a.icon:hover	{cursor:pointer;text-decoration:none;}
.floaticon a,.icon,img.icon	{padding:0 0 0 5px; font-size:11pt;}
.floaticon .icon-*	{font-size:20px;}

.floaticon	{float:right; text-align:right;z-index:9999;}
.floaticon form.minifind	{margin:10px 0 20px}
html[dir='rtl'] .floaticon 	{ float:left }
span.actionicon	{float:right;}
html[dir='rtl'] span.actionicon 	{float:left}
td.actionicon	{text-align:right;}
html[dir='rtl'] td.actionicon	{text-align:left;}
.actionicon a,


table tbody	{vertical-align:top;}

.aligncenter	{text-align:center}
.alignright	{text-align:right}
html[dir='rtl'] .alignright	{text-align:left}
.aligntop, aligntop *	{vertical-align:top}
.alignmiddle	{vertical-align:middle}

.highlight	{background-color:#fcf8e3;}

.no-padding,
.nopadding	{padding:0;}
.no-margin,
.nomargin	{margin:0;}
.margin-auto	{margin-left:auto;margin-right:auto;}
.overflow-hidden	{overflow:hidden;}

.display-none	{display:none;}
.inline	{display:inline;}
.inline-block	{display:inline-block;}
.table-cell	{display:table-cell;}

.strong	{font-weight:bold}

.floatright	{float:right}
html[dir='rtl'] .floatright	{float:left}
.floatleft	{float:left}
html[dir='rtl'] .floatleft	{float:right}

.clear	{clear:both;}
.clearright	{clear:right}
html[dir='rtl'] .clearright	{clear:left}
.cursordefault	{cursor:default}

.mt-0 { margin-top: 0 }
.mr-0 { margin-right: 0 }
.mb-0 { margin-bottom: 0 }
.ml-0 { margin-left: 0 }
.mt-1 { margin-top: 1em }
.mr-1 { margin-right: 1em }
.mb-1 { margin-bottom: 1em }
.ml-1 { margin-left: 1em }
.mt-2 { margin-top: 2em }
.mr-2 { margin-right: 2em }
.mb-2 { margin-bottom: 2em }
.ml-2 { margin-left: 2em }
.mt-3 { margin-top: 3em }
.mr-3 { margin-right: 3em }
.mb-3 { margin-bottom: 3em }
.ml-3 { margin-left: 3em }
.mv-1 { margin-bottom: 1em; margin-top: 1em }
.mv-2 { margin-bottom: 2em; margin-top: 2em }
.mv-3 { margin-bottom: 3em; margin-top: 3em }
.mh-1 { margin-left: 1em; margin-right: 1em }
.mh-2 { margin-left: 2em; margin-right: 2em }
.mh-3 { margin-left: 3em; margin-right: 3em }
.pt-0 { padding-top: 0 }
.pr-0 { padding-right: 0 }
.pb-0 { padding-bottom: 0 }
.pl-0 { padding-left: 0 }
.pt-1 { padding-top: 1em }
.pr-1 { padding-right: 1em }
.pb-1 { padding-bottom: 1em }
.pl-1 { padding-left: 1em }
.pt-2 { padding-top: 2em }
.pr-2 { padding-right: 2em }
.pb-2 { padding-bottom: 2em }
.pl-2 { padding-left: 2em }
.pv-0 { padding-bottom: 0; padding-top: 0 }
.pv-1 { padding-bottom: 1em; padding-top: 1em }
.pv-2 { padding-bottom: 2em; padding-top: 2em }
.pv-3 { padding-bottom: 3em; padding-top: 3em }
.ph-0 { padding-left: 0; padding-right: 0 }
.ph-1 { padding-left: 1em; padding-right: 1em }
.ph-2 { padding-left: 2em; padding-right: 2em }
.ph-3 { padding-left: 3em; padding-right: 3em }
.mt-0 { margin-top: 0 !important }
.mb-0 { margin-bottom: 0 !important }
.mv-0 { margin-bottom: 0 !important; margin-top: 0 !important }
.pt-0 { padding-top: 0 !important }
.pb-0 { padding-bottom: 0 !important }
.pv-0 { padding-bottom: 0 !important; padding-top: 0 !important }

.width-auto	{width:auto;}
.width100p	{width:100%}
.width99p	{width:99%}
.width95p	{width:95%}
.width90p	{width:90%}
.width85p	{width:85%}
.width80p	{width:80%}
.width75p	{width:75%}
.width70p	{width:70%}
.width66p	{width:66%}
.width65p	{width:65%}
.width60p	{width:60%}
.width55p	{width:55%}
.width50p	{width:50%}
.width49p	{width:49%}
.width48p	{width:48%}
.width45p	{width:45%}
.width40p	{width:40%}
.width35p	{width:35%}
.width33p	{width:33%}
.width30p	{width:30%}
.width29p	{width:29%}
.width25p	{width:25%}
.width20p	{width:20%}
.width15p	{width:15%}
.width10p	{width:10%}
.width5p	{width:5%}
.width2p	{width:2%}
.width1p	{width:1%}

.monospace	{font-family:monospace}

.link	{cursor:pointer;     color: #428bca; text-decoration: none; } /* bootstrap default */

ul	{padding-left:20px;}
.module ol,
.module ul	{margin:0 0 0 0; padding:0}
.module ol li	{margin:0 0 0 3em; padding:0;}
.module ul li,
.menu li,
ol.structure-toc	{ counter-reset: item; padding-left:0px; }
ol.structure-toc>li	{ display: block }
ol.structure-toc>li:before 	{ content: counters(item, ".") " "; counter-increment: item }
ol.structure-toc li	{font-weight:normal;font-size:10pt;margin-left:15px;padding:5px 0 5px 0;}
ol.structure-toc li .numbering	{margin-left:-1em;}
ol.strucutre-toc ol	{margin-left:1em; padding:0 0 5px 0;}
html[dir='rtl'] ol.structure-toc ol	{margin-right:1em;}
.boxcontent > ol.structure-toc > li	{font-weight:bold;font-size:130%}
/* this is just as example, implement your own CSS to match the aciSortable init options */
.edit.structure ol.structure-toc li	{padding-top:5px; padding-bottom:5px;}
.aciSortablePlaceholder {
    height:4px;
    line-height:4px;
}

@media (min-width: 768px) { 
.maketoc	{ width:33% }
	}
@media (max-width:767px) {
.maketoc	{ width:100% }
	}

.aciSortablePlaceholder div {
    height:4px;
    background-color:black;
    width:100px;
}

.structure-sort-helper {
    position:absolute;
    max-width:300px;
    background-color:#ccc;
    border:1px solid #000;
    padding:4px;
    color:#000;
    /* uncomment below to offset from the mouse cursor */
    /*margin:20px 0 0 20px;*/
}


.truncate	{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.bold	{font-weight:bold;}

header.container.page-header	{margin-top:20px;}
section.page-content.container-fluid	{padding-left:0;padding-right:0}

.date,
small,.small	{color:#666666; font-size:85%}
.sitenotice	{text-align:center;font-weight:bold;padding-bottom:10px;}

.data	{ width:100%; }
ul.data	{list-style:none; margin:0; padding:0;clear:both;}
ul.data li.item	{ border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:10px; }
ul.data li.item:last-child	{ border-bottom:none; }

ol.structure-toc {
    counter-reset: item;
}
ol.structure-toc li {
    display: block;
    position: relative;
}
ol.structure-toc li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}
ul.structure-toc,
ul.structure-toc ul {
   list-style-type:none;
}

.error	{color:#C30;}
.warning	{color:#f80;}
.success	{color:#090;}

.outer-glow	{box-shadow: 0px 0px 5px gray;}

.alpha60black {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.alpha60white {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}
.alpha60white	{ color:black; }
.alpha60black	{ color:white; }

.thumbnails, .unstyled {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.bit-columns {
-webkit-column-count: 3;
-webkit-column-gap: 10px;
-webkit-column-fill: auto;
-moz-column-count: 3;
-moz-column-gap: 10px;
-moz-column-fill: auto;
column-count: 3;
column-gap: 15px;
column-fill: auto;
}

.bit-column-cell {
display: inline-block;
-webkit-column-break-inside: avoid;
-moz-column-break-inside: avoid;
column-break-inside: avoid;
width: 100%;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
}

@media (min-width: 960px) {
#columns { -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; }
}

@media (min-width: 1100px) {
#columns { -webkit-column-count: 5; -moz-column-count: 5; column-count: 5; }
}

/* vim: set ts=40: */
