i[onlick], .icon,.icon:hover,
a.icon,a.icon:hover	{cursor:pointer;text-decoration:none;}
.floaticon a,a.icon,img.icon	{padding:0 5px 0 0; font-size:11pt;}

.floaticon	{float:right; text-align:right;}
.floaticon form.minifind	{margin:10px 0 20px}
html[dir='rtl'] .floaticon 	{ float:left }
span.actionicon	{float:right;}
html[dir='rtl'] span.actionicon 	{float:left}
td.actionicon	{text-align:right;}
html[dir='rtl'] td.actionicon	{text-align:left;}
.actionicon a,


table tbody	{vertical-align:top;}

.aligncenter	{text-align:center}
.alignright	{text-align:right}
html[dir='rtl'] .alignright	{text-align:left}
.aligntop, aligntop *	{vertical-align:top}
.alignmiddle	{vertical-align:middle}

.no-padding,
.nopadding	{padding:0;}
.no-margin,
.nomargin	{margin:0;}
.margin-auto	{margin-left:auto;margin-right:auto;}
.overflow-hidden	{overflow:hidden;}

.inline	{display:inline;}
.inline-block	{display:inline-block;}

.floatright	{float:right}
html[dir='rtl'] .floatright	{float:left}
.floatleft	{float:left}
html[dir='rtl'] .floatleft	{float:right}

.clear	{clear:both;}
.clearright	{clear:right}
html[dir='rtl'] .clearright	{clear:left}
.cursordefault	{cursor:default}

.width-auto	{width:auto;}
.width100p	{width:100%}
.width99p	{width:99%}
.width95p	{width:95%}
.width90p	{width:90%}
.width85p	{width:85%}
.width80p	{width:80%}
.width75p	{width:75%}
.width70p	{width:70%}
.width66p	{width:66%}
.width65p	{width:65%}
.width60p	{width:60%}
.width55p	{width:55%}
.width50p	{width:50%}
.width49p	{width:49%}
.width48p	{width:48%}
.width45p	{width:45%}
.width40p	{width:40%}
.width35p	{width:35%}
.width33p	{width:33%}
.width30p	{width:30%}
.width29p	{width:29%}
.width25p	{width:25%}
.width20p	{width:20%}
.width15p	{width:15%}
.width10p	{width:10%}
.width5p	{width:5%}
.width2p	{width:2%}
.width1p	{width:1%}

.monospace	{font-family:monospace}

ul	{padding-left:15px;}
.module ol,
.module ul	{margin:0 0 0 0; padding:0}
.module ol li	{margin:0 0 0 3em; padding:0;}
.module ul li,
.menu li,
ol.structure-toc	{ counter-reset: item; padding-left:0px; }
ol.structure-toc>li	{ display: block }
ol.structure-toc>li:before 	{ content: counters(item, ".") " "; counter-increment: item }
ol.structure-toc li	{font-weight:normal;font-size:10pt;margin-left:15px;}
ol.structure-toc li .numbering	{margin-left:-1em;}
ol.strucutre-toc ol	{margin-left:1em; padding:0 0 5px 0;}
html[dir='rtl'] ol.structure-toc ol	{margin-right:1em;}
.boxcontent > ol.structure-toc > li	{font-weight:bold;font-size:130%}
/* this is just as example, implement your own CSS to match the aciSortable init options */
.edit.structure ol.structure-toc li	{padding-top:5px; padding-bottom:5px;}
.aciSortablePlaceholder {
    height:4px;
    line-height:4px;
}

.aciSortablePlaceholder div {
    height:4px;
    background-color:black;
    width:100px;
}

.structure-sort-helper {
    position:absolute;
    max-width:300px;
    background-color:#ccc;
    border:1px solid #000;
    padding:4px;
    color:#000;
    /* uncomment below to offset from the mouse cursor */
    /*margin:20px 0 0 20px;*/
}

.bold	{font-weight:bold;}

header.container.page-header	{margin-top:20px;}
section.page-content.container-fluid	{padding-left:0;padding-right:0}

.date,
small,.small	{color:#666666; font-size:85%}
.sitenotice	{text-align:center;font-weight:bold;padding-bottom:10px;}

.data	{ width:100%; }
ul.data	{list-style:none; margin:0; padding:0;clear:both;}
ul.data li.item	{ border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:10px; }
ul.data li.item:last-child	{ border-bottom:none; }

.error	{color:#C30;}
.warning	{color:#f80;}
.success	{color:#090;}

.alpha60black {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.alpha60white {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}
.alpha60white	{ color:black; }
.alpha60black	{ color:white; }

.thumbnails, .unstyled {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* LEGACY essential and basic css settings *-/
body	{background:#fff; margin:0; padding:0;}
table	{border-collapse:collapse; border-spacing:0; padding:0; margin:0; width:100%;}
table tfoot td	{font-weight:700;text-align:center}
table.dBug_array	{width:auto; border: 1px solid black; border-spacing:1px;}
pre,pre *,code,code *,.code	{font-family:monospace !important; font-size:1.1em;}
pre	{overflow:auto;}
#footer	{font:10px verdana,sans-serif; color:#999; text-align:center; clear:both;}
.norecords	{font-weight:bold;}
.popup	{background:#fff; width:250px; border:1px solid #000; line-height:normal;}
.portrait,.avatar	{float:right; padding:0 0 5px 5px;}
html[dir='rtl'] .portrait,
html[dir='rtl'] .avatar { float:right; }
.menu .head	{display:block; white-space:nowrap;}
.menu .item	{display:block;}
.active a.head 	{font-weight:bolder}
.active a.head:visited	{font-weight:bolder}
.highlight	{font-weight:bolder;}
a.create	{font-style:italic}
a.skip	{position:absolute; top:0; left:-999em;}
a.skip:active,
a.skip:focus	{}
a img	{border:0;}
.quicktag	{margin:1px;}
.selected	{font-weight:bolder}
.navbar,
.comment,
.footer	{clear:both;}
.date,
.footer,
.pagination,
small	{color:#999;}
.panelsubmitrow	{text-align:center;}
.pagination	{text-align:center;}
.storage	{float:right; clear:both; text-align:center;}
html[dir='rtl'] .storage {float:left;}

/*** forms ***-/
html>body textarea	{width:100%;}
form	{margin:0; padding:0;}
/*.row	{clear:both;}*-/
.formlabel	{float:left; width:14em; text-align:right;}
html[dir='rtl'] .formlabel {float:right; text-align:right;}
.forminput	{margin-left:14.5em;}
html[dir='rtl'] .forminput {margin-left:0; margin-right:14.5em;}
.formhelp	{cursor:help;}
.closebutton	{position:absolute; top:1px; right:1px;}
html[dir='rtl'] .closebutton {right:0;left:1px}
.submit	{text-align:center; padding-bottom:10px;}
.display.confirm .body {width:450px; margin:0 auto;}

/* priorities *-/
.prio1	{background:#dfc !important;}
.prio2	{background:#efc !important;}
.prio3	{background:#ffc !important;}
.prio4	{background:#fec !important;}
.prio5	{background:#fdc !important;}

/* annoyances and grievances *-/
.module textarea	{width:auto;}
.comment .content	{overflow:auto;}
.comment .threaded	{margin:0 0 0 20px;}

/* lists *-/
ul,ol,dl	{margin-top:0; margin-bottom:0;}
.navbar	{height:2em;}
.navbar ul	{padding:0; margin:0; list-style:none;}
.navbar ul li	{float:left;}
html[dir='rtl'] .navbar ul li	{float:right;}

ol.data li.item .thumb,
ul.data li.item .thumb	{float:right;}
html[dir='rtl'] ul.data li.item .thumb	{float:left;}
ol.data h1,
ul.data h1,
/* this is needed to make floaticons clickable in data listings *-/
ul.data h2	{margin-top:0;}
li.error,li.success,
li.note,li.warning	{list-style:none;}
ul.toc li	{list-style:none;}
li.treenode	{list-style:none; clear:both; border-top:1px solid #999;}
ul.tree	{margin:0;padding-left:20px;}
html[dir='rtl'] ul.tree	{padding-left:0;padding-right:20px;}

/* structures *-/
.structurebar	{clear:both;}
.structurebar .path	{display:block;}
.gallerybar .path	{display:block;}
.navigation span	{display:block; width:50%; float:left;}
html[dir='rtl'] .navigation span {float:right;}
.navigation .right	{text-align:right;}
html[dir='rtl'] .navigation .right	{text-align:left;}

/* multi file upload *-/
#fileslist span	{display:block;}
#upload_div file {display:block;}

/* differences *-/
del {background-color:#fcc;}
ins {background-color:#cfc;}
*/

/* vim: set ts=40: */
