/* $Header: /cvsroot/bitweaver/_bit_themes/css/dropmenu.css,v 1.10 2009/11/10 04:18:31 wjames5 Exp $ */
/* BEGIN css driven dropdown menus - horizontal */

/* The top level menu */
ul.dropmenu						 {height:1.5em;}
ul.dropmenu,
ul.dropmenu ul                   {padding:0; margin:0; list-style:none; line-height:18px; z-index:1000;}
ul.dropmenu a                    {display:block; width:auto; padding:2px 3px;}
ul.dropmenu a:link,
ul.dropmenu a:hover              {}
/* affects all lists in all menus */
ul.dropmenu li ul                {position:absolute; background:#fff; left:-999em; z-index:1002; border:1px solid #999;}
ul.dropmenu li ul li             {float:none;}
/* affects all items in all menus */
ul.dropmenu li                   {float:left;text-align:left; width:auto;}
ul.dropmenu li:hover             {background-position:0 0}
ul.dropmenu li ul li:hover       {background-color:#eee;}
/* main drop menu items */
ul.dropmenu li ul li             {width:15em; z-index:1001;}
/* submenu lists */
ul.dropmenu li ul li ul          {margin:-23px 0 0 14em; z-index:1003; border:1px solid #ccc;}
ul.dropmenu li:hover ul ul,
ul.dropmenu li.iemenuhover ul ul {left:-999em;}
/* submenus */
ul.dropmenu li:hover ul,
ul.dropmenu li li:hover ul,
ul.dropmenu li.iemenuhover ul,
ul.dropmenu li li.iemenuhover ul {left:auto;}
ul.dropmenu .icon                {vertical-align:middle; padding:2px 0.2em 2px 0;}
/* END css driven drop menus */
