/* css data for image area tagging */
	.tagOn{
		border:1px solid black;
	}
	#taggingArea{
		position:relative;
		width:auto;
		float:left;
	}
	#formArea{
		width:50%;
		float:left;
	}
	#drag{
		position:absolute;
		top:0px;
		width:100px;
		height:100px;
		border:2px solid black;
		background:url('blank.gif');
	}
