.aligncenter	{text-align:center}
.alignright	{text-align:right}
html[dir='rtl'] .alignright	{text-align:left}
.aligntop, aligntop *	{vertical-align:top}
.alignmiddle	{vertical-align:middle}


.floatright	{float:right}
html[dir='rtl'] .floatright	{float:left}
.floatleft	{float:left}
html[dir='rtl'] .floatleft	{float:right}

.clearright	{clear:right}
html[dir='rtl'] .clearright	{clear:left}
.cursordefault	{cursor:default}

.width100p	{width:100%}
.width99p	{width:99%}
.width95p	{width:95%}
.width90p	{width:90%}
.width85p	{width:85%}
.width80p	{width:80%}
.width75p	{width:75%}
.width70p	{width:70%}
.width66p	{width:66%}
.width65p	{width:65%}
.width60p	{width:60%}
.width55p	{width:55%}
.width50p	{width:50%}
.width49p	{width:49%}
.width48p	{width:48%}
.width45p	{width:45%}
.width40p	{width:40%}
.width35p	{width:35%}
.width33p	{width:33%}
.width30p	{width:30%}
.width29p	{width:29%}
.width25p	{width:25%}
.width20p	{width:20%}
.width15p	{width:15%}
.width10p	{width:10%}
.width5p	{width:5%}
.width2p	{width:2%}
.width1p	{width:1%}

.monospace	{font-family:monospace}
.splitstyle	{border-right:3px solid #000}
html[dir='rtl'] .splitstyle	{border-right:0; border-left::3px solid #000}

/* vim: set ts=40: */
