[submodule "icon_styles/tango"]
	path = icon_styles/tango
	url = git://bitweaver.org/iconstyle_tango.git
[submodule "styles/basic"]
	path = styles/basic
	url = ../style_basic.git
[submodule "styles/blueprint"]
	path = styles/blueprint
	url = ../style_blueprint
