/* essential and basic css settings */
body				{background:#fff; margin:0; padding:0;}
table				{border-collapse:collapse; border-spacing:0; padding:0; margin:0; width:100%;}
table tfoot td		{font-weight:700;text-align:center}
table.dBug_array	{width:auto; border: 1px solid black; border-spacing:1px;}
pre,pre *,code,code *,.code	{font-family:monospace !important; text-align:left; font-size:1.1em;}
pre					{overflow:auto; text-align:left;}
#footer				{font:10px verdana,sans-serif; color:#999; text-align:center; clear:both;}
.norecords			{font-weight:bold;}
.popup				{background:#fff; width:250px; border:1px solid #000; line-height:normal;}
.icon,.icon:hover,
a.icon,a.icon:hover	{border:0px;}
.portrait,.avatar	{float:right; padding:0 0 5px 5px;}
.menu .head			{display:block; white-space:nowrap;}
.menu .item			{display:block;}
.active a.head 				{font-weight:bolder}
.active a.head:visited		{font-weight:bolder}
.highlight			{font-weight:bolder;}
a.create			{font-style:italic}
a.skip				{position:absolute; top:0; left:-999em;}
a.skip:active,
a.skip:focus		{left:0em;}
a img				{border:0;}
.quicktag			{margin:1px;}
.selected			{font-weight:bolder}
.floaticon			{float:right;}
span.actionicon		{float:right;}
td.actionicon		{text-align:right;}
.actionicon a,
.floaticon a		{padding:0 3px;}
.navbar,
.comment,
.footer				{clear:both;}
.date,
.footer,
.pagination,
small				{color:#999;}
.panelsubmitrow		{text-align:center;}
.pagination			{text-align:center;}
.storage			{float:right; clear:both; text-align:center;}
.clear				{clear:both;}

/*** forms ***/
html>body textarea	{width:100%;}
form				{margin:0; padding:0;}
/*.row				{clear:both;}*/
.formlabel			{float:left; width:14em; text-align:right;}
.forminput			{margin-left:14.5em;}
.formhelp			{cursor:help;}
.closebutton		{position:absolute; top:1px; right:1px;}
.submit				{text-align:center; padding-bottom:10px;}
.minifind			{width:400px;}
.error,
.warning			{color:#f80;}
.success			{color:#090;}
.display.confirm .body {width:450px; margin:0 auto;}

/* priorities */
.prio1	{background:#dfc !important;}
.prio2	{background:#efc !important;}
.prio3	{background:#ffc !important;}
.prio4	{background:#fec !important;}
.prio5	{background:#fdc !important;}

/* annoyances and grievances */
.module textarea	{width:auto;}
.comment .content	{overflow:auto;}

/* lists */
ul,ol,dl		{margin-top:0; margin-bottom:0;}
.module ol,
.module ul,
.menu ul		{margin:0; padding:0}
.module ol li	{margin:0 0 0 3em; padding:0;}
.module ul li,
.menu li,
ul.toc li		{list-style:none;}
ul.toc ul		{margin-left:1.5em; padding:0;}
.navbar			{height:2em;}
.navbar ul		{padding:0; margin:0; list-style:none;}
.navbar ul li	{float:left;}

ul.data,
ul.data li.item			{list-style:none; margin:0; padding:0;}
ul.data li.item .thumb	{float:right;}
ul.data h1,
/* this is needed to make floaticons clickable in data listings */
ul.data h2				{margin-top:0;}
li.error,li.success,
li.note,li.warning		{list-style:none;}
ul.toc li				{list-style:none;}
li.treenode				{list-style:none; clear:both; border-top:1px solid #999;}
ul.tree					{margin:0;padding-left:20px;}

/* structures */
.structurebar			{clear:both;}
.structurebar .path		{display:block;}
.gallerybar .path		{display:block;}
.navigation span		{display:block; width:50%; float:left;}
.navigation .right		{text-align:right;}

/* multi file upload */
#fileslist span	{display:block;}
#upload_div file {display:block;}

/* css driven dropdown menus - horizontal */
ul.hor *		{line-height:20px;}
ul.hor,
ul.hor li,
ul.hor ul		{padding:0; margin:0; list-style:none;}
ul.hor a		{display:block; padding:0 6px;}
ul.hor li		{width:auto;}
ul.hor li li,
ul.hor li ul	{width:13em; display:block; text-align:left;}
ul.hor .head	{width:auto;}
ul.hor li		{float:left; position:relative;}
ul.hor li li a	{margin-left:20px;}
ul.hor li li .icon	{vertical-align:middle; margin-left:-23px;}
ul.hor li ul	{position:absolute; left:-999em; border:1px solid;}
ul.hor li ul ul	{margin:-21px 0 0 13em;}
/* remove admin icon margin */
ul.hor li.m-admin li a {margin:0;}
/* set some background colors for visibility */
/* thanks to our favourite browser we can't simply inherit the values */
#bittopbar	{z-index:1000;}
ul.hor		{z-index:1001;}
ul.hor ul		{z-index:1002;}
ul.hor ul ul	{z-index:1003;}
#bittopbar,
ul.hor,
ul.hor li,
ul.hor li ul	{background:#fff;}
ul.hor li:hover ul ul, ul.hor li:hover ul ul ul {left:-999em;}
ul.hor li:hover ul, ul.hor li li:hover ul, ul.hor li li li:hover ul {left:auto;}

/* tabs */
.tabsystem .tabcontainer	{margin:0; padding:0; border:0; clear:both;}
.tabsystem .tabcontainer ul,
.tabsystem .tabcontainer li	{margin:0; padding:0; border:0; list-style-type:none; display:inline;}
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-active	{position:relative; display:inline; float:left; z-index:1; white-space:nowrap;}
.tabsystem .tabpage	{clear:both;}
h4	{margin:0; padding:0; font-size:1em;}

a.external {background:transparent url( icons/external_link.png ) no-repeat left;  padding-left:12px;}

/* should we move these settings to individual packages? */
.stickies textarea,
.stickies input[type='text']	{background:#ffc;}
.stickynote h3					{border-bottom: 1px solid #dda;}
.stickynote						{background-color:#ffc; width:300px; padding:3px;float:left;}

.phpbb a:hover img	{border:none}
.phpbb img			{border:none}

.articles .content div.image	{float:left; padding:0 1em 0 0;}

.fisheyeimage .boxcontent,
.fisheyegallery .boxcontent,
.image .boxcontent	{text-align:center;}

.attbrowser table	{text-align:center;}

.meta { float: left; width: 30%; }

.suggest {background-color:white; border:1px solid #ddd;}
.suggest .suggestion { color: black; padding: 2px; }

.bitboard .title h3 {margin: 0px; font-size: 1.2em}
.bitboard .desc {font-size: .9em; clear:both;}
.bitboard .topic {font-size: .9em;}

/* multisites */
#multisites table.data 	{width:99%;border-collapse:collapse}
#multisites table.data th	{text-align:center;background:#ddd;color:#fff}
#multisites table.data td	{border-bottom:1px dotted #ddd;vertical-align:top}
#multisites table.data em	{border-top:3px solid #ddd;display:block;clear:both}
#multisites td.server	{width:37%}
#multisites td.settings 	{width:63%;padding:4px 0 4px 8px}
#multisites td.settings strong {}

/* differences */
del {background-color:#fcc;}
ins {background-color:#cfc;}
