div#wrapper				{float:left;width:100%;}
div.blocks3  #wrapper	{width:75%;}
div.blocks2e #wrapper	{width:75%;}
div.blocks2n #wrapper	{width:75%;}
div.blocks1  #wrapper	{}
div#navigation			{float:right;width:240px}
div#extra				{float:right;clear:right;width:240px}
div#footer				{clear:both;width:100%}
