div#wrapper					{float:left;width:100%}
div.blocks3  #content		{margin-left: 50%;}
div.blocks2e #content		{margin-left: 25%;}
div.blocks2n #content		{margin-left: 25%;}
div.blocks1  #content		{margin-left:  0%;}
div#navigation				{float:left;width:25%;}
div.blocks3  #navigation	{margin-left: -75%;}
div.blocks2n #navigation	{margin-left:-100%;}
div#extra					{float:left;width:25%;margin-left:-100%}
div#footer					{clear:left;width:100%}
