div#wrapper					{float:left;width:100%}
div.blocks3  #wrapper		{margin-left: 400px;width:560px;}
div.blocks2e #wrapper		{margin-left: 200px;width:760px;}
div.blocks2n #wrapper		{margin-left: 200px;width:760px;}
div.blocks1  #wrapper		{margin-left:     0;}
div#navigation				{float:left;width:200px;}
div.blocks3  #navigation	{margin-left:-760px;}
div.blocks2n #navigation	{margin-left:-960px;}
div#extra					{float:left;width:200px;margin-left:-960px}
div#footer					{clear:left;width:100%}
