div#wrapper				{float:right;width: 100%;}
div.blocks3  #wrapper	{margin-left:-520px;}
div.blocks2e #wrapper	{margin-left:-260px;}
div.blocks2n #wrapper	{margin-left:-260px;}
div.blocks1  #wrapper	{margin-left:     0;}
div.blocks3  #content	{margin-left: 520px;}
div.blocks2e #content	{margin-left: 260px;}
div.blocks2n #content	{margin-left: 260px;}
div.blocks1  #content	{margin-left:     0;}
div#navigation			{float:right;width:260px}
div#extra				{float:right;width:260px}
div#footer				{clear:right;width:100%}
