div#container			{width:900px;margin:0 auto}
div#content				{float:right;}
div.blocks3  #content	{width:640px;}
div.blocks2e #content	{width:900px;}
div.blocks2n #content	{width:640px;}
div.blocks1  #content	{width:900px;}
div#navigation			{float:left;width:260px}
div#extra				{clear:both;width:100%}
