div#wrapper				{float:left;width:100%}
div.blocks3  #wrapper	{margin: 0 200px 0 200px;width:560px;}
div.blocks2e #wrapper	{margin: 0     0 0 200px;width:760px;}
div.blocks2n #wrapper	{margin: 0 200px 0     0;width:760px;}
div.blocks1  #wrapper	{margin: 0     0 0     0;}
div#navigation			{float:left;width:200px;margin-left:-200px}
div#extra				{float:left;width:200px;margin-left:-960px}
div#footer				{clear:left;width:100%}
