div#wrapper				{float:left;width:100%}
div.blocks3  #content	{margin-right: 520px;}
div.blocks2e #content	{margin-right: 260px;}
div.blocks2n #content	{margin-right: 260px;}
div.blocks1  #content	{margin-right:     0;}
div#navigation			{float:left;width:260px;margin-left:-260px}
div#extra				{float:left;width:260px;}
div.blocks3  #extra		{margin-left:-520px;}
div.blocks2e #extra		{margin-left:-260px;}
div.blocks2n #extra		{margin-left:-260px;}
div.blocks1  #extra		{margin-left:     0;}
div#footer				{clear:left;width:100%}
