div#wrapper				{float:right;width:100%;}
div.blocks3  #wrapper	{width:75%;}
div.blocks2e #wrapper	{width:75%;}
div.blocks2n #wrapper	{width:75%;}
div.blocks1  #wrapper	{}
div#navigation			{float:left;width:25%}
div#extra				{float:left;clear:left;width:25%}
div#footer				{clear:both;width:100%}
