div#wrapper				{float:left;width:100%}
div.blocks3  #wrapper	{margin-right: 40%;width:60%;}
div.blocks2e #wrapper	{margin-right: 20%;width:80%;}
div.blocks2n #wrapper	{margin-right: 20%;width:80%;}
div.blocks1  #wrapper	{margin-right:  0%;}
div#navigation			{float:left;width:20%;margin-left:-20%}
div#extra				{float:left;width:20%;}
div.blocks3  #extra		{margin-left:-40%;}
div.blocks2e #extra		{margin-left:-20%;}
div#footer				{clear:left;width:100%}
