div#container			{width:900px;margin:0 auto}
div#content				{float:left;}
div.blocks3  #content	{width:640px;}
div.blocks2e #content	{width:900px;}
div.blocks2n #content	{width:640px;}
div.blocks1  #content	{width:900px;}
div#navigation			{float:right;width:260px}
div#extra				{float:left;}
div.blocks3  #extra		{width:640px;}
div.blocks2e #extra		{width:900px;}
div.blocks2n #extra		{width:640px;}
div.blocks1  #extra		{width:900px;}
div#footer				{clear:both;width:100%}
