div#wrapper				{float:left;width:100%}
div.blocks3  #wrapper	{margin:0 20% 0 20%;width:60%;}
div.blocks2e #wrapper	{margin:0   0 0 20%;width:80%;}
div.blocks2n #wrapper	{margin:0 20% 0   0;width:80%;}
div.blocks1  #wrapper	{margin:0   0 0   0;}
div#navigation			{float:left;width:20%;margin-left:-20%}
div#extra				{float:left;width:20%;margin-left:-100%}
div#footer				{clear:left;width:100%}
