div#wrapper				{float:left;width:100%}
div.blocks3  #content	{margin:0 25% 0 25%;}
div.blocks2e #content	{margin:0   0 0 25%;}
div.blocks2n #content	{margin:0 25% 0   0;}
div.blocks1  #content	{margin:0   0 0   0;}
div#navigation			{float:left;width:25%;margin-left:-25%}
div#extra				{float:left;width:25%;margin-left:-100%}
div#footer				{clear:left;width:100%}
