div#container			{width:900px;margin:0 auto}
div#wrapper				{float:left;width:100%}
div.blocks3  #content	{margin-right: 440px;}
div.blocks2e #content	{margin-right: 220px;}
div.blocks2n #content	{margin-right: 220px;}
div.blocks1  #content	{margin-right:     0;}
div#navigation			{float:left;width:220px;margin-left:-220px}
div#extra				{float:left;width:220px;}
div.blocks3  #extra		{margin-left:-440px;}
div.blocks2e #extra		{margin-left:-220px;}
div#footer				{clear:left;width:100%}
