div#wrapper				{float:left;width:100%}
div.blocks3  #content	{margin-left:260px}
div.blocks2e #content	{}
div.blocks2n #content	{margin-left:260px}
div.blocks1  #content	{}
div#navigation			{float:left;width:260px;margin-left:-100%}
div#extra				{clear:left;width:100%}
