div#wrapper				{float:left;width:100%}
div.blocks3  #content	{margin-right: 400px;}
div.blocks2e #content	{margin-right: 200px;}
div.blocks2n #content	{margin-right: 200px;}
div.blocks1  #content	{margin-right:     0;}
div#navigation			{float:left;width:200px;margin-left:-200px}
div#extra				{float:left;width:200px;}
div.blocks3  #extra		{margin-left:-400px;}
div.blocks2e #extra		{margin-left:-200px;}
div.blocks2n #extra		{margin-left:-200px;}
div.blocks1  #extra		{margin-left:     0;}
div#footer				{clear:left;width:100%}
