div#container			{width:960px;margin:0 auto}
div#wrapper				{float:left;}
div.blocks3  #wrapper	{width:720px;}
div.blocks2e #wrapper	{width:960px;}
div.blocks2n #wrapper	{width:720px;}
div.blocks1  #wrapper	{width:960px;}
div#navigation			{float:right;width:240px}
div#extra				{float:left;}
div.blocks3  #extra		{width:720px;}
div.blocks2e #extra		{width:960px;}
div.blocks2n #extra		{width:720px;}
div.blocks1  #extra		{width:960px;}
div#footer				{clear:both;width:100%}
