div#wrapper		{float:left;width:100%;}
div.blocks3  #wrapper	{width:50%;}
div.blocks2e #wrapper	{width:75%;}
div.blocks2n #wrapper	{width:75%;}
div.blocks1  #wrapper	{}
div#navigation	{float:left;width:240px;}
div#extra		{float:right;width:25%}
div#footer		{clear:left;width:100%}
